form {
  margin: 20px 0px;
  padding: 10px;
  font-size: 20px;
}

.btn {
  margin-left: 10px;
}

input {
  border-radius: 5px;
  padding: 7px;
}

@media screen and (max-width: 750px) {
  form {
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  form {
    font-size: 7px;
  }
}
